div.content {
	padding:0;
	border-top:none;
	overflow:visible;
}

div.content p {
	margin-bottom:0;
	font:inherit;
}

div.content div#topBanner {
	position: relative;
	background: url('../images/template/sr2014-youtube-video-shot.jpg');
	background-size: cover;
	background-position: 50% 50%, center;
	width: 960px;
	height: 300px;
	overflow: hidden;

	transition: 0.5s ease-in-out 0.5s;
}

div.content div#topBanner.expanded {
	height: 540px;
	transition: 0.5s ease-in-out 0.5s;
}

div.content div#topBanner.expanded .overlayText {
	display: none;
}

div.content .overlayText {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: -webkit-flex;
	display: flex;

	-webkit-align-items: center;
	        align-items: center;
	-webkit-flex-direction: column;
	        flex-direction: column;
	-webkit-justify-content: center;
	        justify-content: center;

	text-align: center;
	text-shadow: 0 0 1em black;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
}

div.content .overlayText .playActionLink {
	font-size: 20px;
}

div.content div#topBanner h1 {
	font-size:30px;
	line-height:40px;
	font-weight:normal;
	color: white;
}

div.content div#topBanner p {
	margin: 20px 20px 0 20px;

	text-align: center;
	line-height: 24px;
}

div.content div#latestNews {
	margin-bottom: 20px;
	padding: 20px 50px;
	border-bottom:1px solid silver;
}

div.content div#latestNews h2 {
	font-size:30px;
	line-height:40px;
	clear:both;
	color:#0d1f61;
	margin-top: 0;
}

div.content div#latestNews h2 a {
	color:#0d1f61;
}

div.content div#expMenuAndBoxWrapper {
	overflow:auto;
}

div.content div#expandedMenu {
	float:left;
	width:240px;
	border-right:1px solid silver;
	padding-right:20px;
}

div.content div#expandedMenu h3 {
	border-bottom:1px solid silver;
	margin-bottom:10px;
	font-size:20px;
	line-height:30px;
	color:#0d1f61;
}

div.content div#expandedMenu ul {
	list-style:none;
	margin-left:0;
}

div.content div#expandedMenu ul li a {
	text-decoration:none;
}

div.content div#expandedMenu ul li a:hover {
	border-bottom:none;
}

div.content div#expandedMenu ul li {
	margin-bottom:5px;
	font-size:18px;
}

div.content div#expandedMenu ul li a {
	color:#0d1f61;
}

div.content div#expandedMenu ul li ul {
	margin-left:5px;
}

div.content div#expandedMenu ul li ul li {
	font-size:16px;
}

div.content div#expandedMenu ul li ul li a {
	color:#8b8884;
}

div.content div#boxWrapper {
	float:left;
	margin-left:-1px;
}

div.content div#boxWrapper div.box {
	width:320px;
	float:left;
	margin-left:20px;
	margin-bottom:20px;
	line-height:1.4em;
}

div.content div#boxWrapper div.box h3 {
	border-bottom:1px solid silver;
	font-size:20px;
	line-height:30px;
	margin-bottom:10px;
	color:#0d1f61;
}

div.content div#boxWrapper div.box h3 a {
	color:#0d1f61;
}

div.content div#boxWrapper div.box p {
	margin-left: 0;
	text-align:left;
}

div.content div#boxWrapper div.box img {
	border:1px solid silver;
	padding:2px;
	float:right;
	margin-left:10px;
	margin-bottom:5px;
}

div.box ul.ui-tabs-nav {
	list-style: none;
	padding: 0;
	margin: 5px;
}

div.box ul.ui-tabs-nav li {
	display: inline;
	padding: 0;
	margin: 0;
}

div.box ul.ui-tabs-nav li:before { content: "| "; }

div.box ul.ui-tabs-nav li:first-child:before { content: ""; }

div.box ul.ui-tabs-nav li a {
	margin: 5px;
}
div.box ul.ui-tabs-nav li.ui-tabs-selected a {
	font-weight: bold;
}

div.box div.ui-tabs-hide { display: none; }

#date_tabs li.ui-state-active {
	font-weight: bold;
}
