/* Thanks to http://meyerweb.com/eric/tools/css/reset/ for the reset styling */

/* v1.0 | 20080212 */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END OF RESET */



body {
	font: 16px/20px Helvetica,Arial,sans-serif;
	background:#F5F3F4;
}

abbr {
	border-bottom:1px dotted silver;
}

dt {
	font-weight: bold;
	line-height: 1.5em;
	margin-top: 10px;
	margin-left: 5px;
}
dd {
	margin: 5px 0 10px 20px;
	border-left: 1px solid silver;
	border-bottom: 1px dotted silver;
	padding: 5px;
}

dd p {
	margin-left: 0 !important;
}

sup {
	font-size: smaller;
	line-height: normal;
	vertical-align: super;
	padding-left: 2px;
}

sup>a:before {
	content: "[";
}
sup>a:after {
	content: "]";
}

table {
	margin: 0 auto 15px;
}

th, td {
	border-color: #DE6400;
}

th {
	border-style: none none solid none;
	border-width: 2px;
}
tfoot th {
	border-style: solid none none none;
}

td {
	border-right: 1px solid silver;
	border-style: solid solid none none;
	border-width: 1px;
	padding: 2px 10px;
}

td:last-child {
	border-right: none;
}

input, textarea {
	border: 1px solid silver;
	background-color: white;
	padding: 2px;
	margin: 5px;
}

label {
	display: block;
	margin-bottom: 5px;
	margin-top: 10px;
}

input[type="submit"] {
	display: block;
}

.clearboth {
	clear:both;
}

div#pageWrapper {
	width:960px;
	margin:0 auto;
	background:url('../images/template/bottom_swirl.png') no-repeat bottom right;
}


div#header {
	float:right;
	width:960px;
}

div#header a {
	float:left;
	margin-top:20px;
	margin-left:20px;
}

div#header form {
	float:right;
	margin-top:30px;
}

div#header form fieldset input {
	border:1px solid silver;
}

div#header form fieldset input[type=text]{
	font-size:16px;
	height:28px;
	position:relative;
	top:-1px;
	margin: 0;
	width: 266px;
	box-sizing: border-box;
}

div#header form fieldset input[type=image]{
	height:16px;
	width: 16px;
	position:relative;
	padding: 3px;
	margin: 0;
	top: 6px;
}

div#search-results a {
	font-weight: bold;
	color: #0d1f61;
	font-size: small;
	float: none;
	margin: 0;
}

div.ie6-prop-clear {
	clear: both;
}

div#header div.ie6-wrapper {
	float: right;
}

div#header ul {
	clear:both;
	display: block;
	margin-top:-8px;
}

div#header ul li {
	float:left;
	margin-left:10px;
}

div#header ul li a {
	text-decoration:none;
	color:#8b8884;
	padding:8px;
	letter-spacing:1px;
	margin-top:0px;
	margin-left:0px;
	display:block;
}

div.content{
	clear:both;
	border-top:1px solid silver;
	padding:0 20px;
}

div.content h1,
div.content h2,
div.content h3,
div.content h4,
div.content h5,
div.content h6 {
	color:#0d1f61;
	line-height:1.3em;
}

div.content h1 {
	font-size:26px;
	margin-bottom:10px;
	padding-top:10px;
}

div.content h2 {
	font-size:20px;
	margin-bottom:5px;
	margin-top:25px;
}

div.content h1 a,
div.content h2 a,
div.content h3 a,
div.content h4 a,
div.content h5 a,
div.content h6 a {
	color:inherit;
}

div.content h3 {
	font-size:18px;
	margin-bottom:5px;
	margin-top:15px;
	font-weight: normal;
}

div.content p {
	margin-bottom:15px;
	margin-left: 20px;
	text-align:justify;
	font: 16px/1.6 Helvetica,Arial,sans-serif;
	word-spacing:0.1em;
}


div.content a {
	text-decoration:none;
	color:#DE6400;
}

div.content a:hover {
	color:#0d1f61;
}

div.content p img {
	border:1px solid silver;
	padding:3px;
	margin-bottom:10px;
}

div.content p img.left {
	float:left;
	margin-right:20px;
}

div.content p img.right {
	clear:right;
	float:right;
	margin-left:20px;
}

div.content p video {
	border:1px solid silver;
	padding:3px;
	margin-bottom:10px;
}

div.content p video.left {
	float:left;
	margin-right:20px;
}

div.content p video.right {
	float:right;
	margin-left:20px;
}

div.content iframe.center {
	display:block;
	margin:10px auto;
}

div.content iframe.video {
	border:1px solid silver;
	padding:3px;
	margin-bottom:10px;
}

div.content iframe.video.left {
	float:left;
	margin-right:20px;
}

div.content iframe.video.right {
	float:right;
	margin-left:20px;
}

div.content ul {
	list-style:disc;
	margin-left:30px;
	margin-bottom:10px;
}

div.content ul ul {
	list-style:circle;
}

div.content li {
	line-height:1.5em;
}

div.content div.left_img_attribution p {
	font-size:10px;
	color:silver;
	clear:both;
	float:left;
	padding-right:20px;
	padding-bottom:10px;
}

div.content a.link-top, div.content a.link-bottom-left, div.content a.link-bottom-right {
	display: inline-block;
	background-color: silver;
	color: #333;
	font-weight: bold;
	padding: 4px 10px;
	text-shadow: 0 1px 2px #fff;
}

div.content a.link-bottom-left {
	float: left;
}

div.content a.link-bottom-right {
	float: right;
}

div.content a.link-top {
	margin-bottom: 15px;
	border-radius: 0 0 6px 6px;
}

div.content a.link-bottom-left, div.content a.link-bottom-right {
	margin-top: 5px;
	border-radius: 6px 6px 0 0;
}

div.content a.link-top:before, div.content a.link-bottom-left:before {
	content:'\21D0  ';
}

div.content a.link-bottom-right:after {
	content:' \21D2 ';
}

div.content div.warning {
	border:1px solid red;
	background:url('../images/template/dialog-warning.png') no-repeat 10px center #FFBFC7;
	font-size:0.8em;
	font-weight:bolder;
	margin-left:30px;
	overflow:auto;
	padding:10px 10px 10px 52px;
	margin-bottom:15px;
}

div.content div.info {
	border:1px solid #52C5FF;
	background:url('../images/template/dialog-information.png') no-repeat 10px center #CCFEFF;
	font-size:0.8em;
	font-weight:bolder;
	margin-left:30px;
	overflow:auto;
	padding:10px 10px 10px 52px;
	margin-bottom:15px;
}

div#original {
	height:auto;
	padding:2px;
	padding-right:0px;
	font-size:12px;
	color:gray;
	text-align:right;
	border-top:1px solid silver;
	clear:both;
}

div#original a {
	text-decoration:none;
	color:inherit;
	font-weight:bolder;
}


div#footer {
	clear:both;
	width:940px;
	margin-top:20px;
	padding:10px;
	position:relative;
	background-color:rgba(223,220,215,0.5);
	color:#333;
}

div#footer .rss {
	position:absolute;
	right:10px;
}

div#footer .youtube {
	position:absolute;
	right:40px;
}

div#footer .twitter {
	position:absolute;
	right:99px;
}

div#footer .facebook {
	position:absolute;
	right:124px;
}

div#footer span.copyright {
	display:block;
	text-align:center;
	text-shadow:1px 1px 1px #fff;
}

div.event-box {
	float: right;
	width: 400px;
	padding: 1em;
	margin-left: 2em;
}

/* SEARCH */

div#search-results {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 1em;
	border: 1px solid rgba(30, 30, 30, 0.4);
	border-radius: 0 0 5px 5px;
	position: absolute;
	width: 266px;
	box-sizing: border-box;
	z-index: 1000000;
}

