<span
  {% if include.itemprop != '' %}
    itemprop="{{ include.itemprop }}"
  {% endif %}
  itemscope itemtype="http://schema.org/EducationalOrganization">
  <meta itemprop="name" content="Student Robotics">
  <meta itemprop="description" content="A robotics competition for sixth formers.">
  <meta itemprop="foundingDate" content="2007">
  <link itemprop="logo" href="https://www.studentrobotics.org/images/template/website_logo.png">
  <meta itemprop="email" content="info@studentrobotics.org">
</span>


