---
layout: main
---
{% unless page.hidemap %}
<div class="event-box">
  <iframe width="400" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCP7rr-Ch7FW_x7aYNKnsNBXvfb9wHIQdc&q={{ page.location }}&zoom=15"></iframe>
  <p class="address">{% reverse_geocode page.location, html_address %}</p>
</div>
{% endunless %}

<div itemscope itemtype="http://schema.org/EducationEvent">
  <h1>{{ page.title }}</h1>

  <p><strong>What:</strong> <a itemprop="name" href="/events/{% event_type raw %}">{% event_type human %}</a></p>

  <p><strong>When:</strong> <time itemprop="startDate" datetime="{% event_date page iso %}">{% if page.override.when %}{{ page.override.when }}{% else %}{% event_date page %}{% endif %}</time></p>

  <meta itemprop="startDate" content="{% event_date page iso %}" />

  <p itemprop="location" itemscope itemtype="http://schema.org/Place">
    <strong>Where:</strong> <span itemprop="name">{% if page.override.where %}{{ page.override.where }}{% else %}{% reverse_geocode page.location, address %} (see map for details){% endif %}</span>
    {% reverse_geocode page.location, address_meta %}
    {% reverse_geocode page.location, geo_meta %}
  </p>

  <meta itemprop="typicalAgeRange" content="16–18" />

  {% include organization_meta.html itemprop="organizer" %}

  {{ content }}
</div>
