<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | Student Robotics</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div id="pageWrapper">
      <div id="header">
        <a href="/">
          <img src="/images/template/website_logo.png" alt="Student Robotics Logo">
        </a>
        <div class="ie6-prop-clear"></div>
        <div class="ie6-wrapper">
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/ide/">IDE</a>
          </li>
          <li>
            <a href="/docs/">Docs</a>
          </li>
          <li>
            <a href="/forum/">Forum</a>
          </li>
          <li>
            <a href="/teams/">Teams</a>
          </li>
          <li>
            <a href="/about/">About</a>
          </li>
          <li>
            <a href="/news/">News</a>
          </li>
        </ul>
        </div>
      </div>
      <div class="content">
        {{ content }}
      </div>
      <div id="footer">
        <a class="facebook" href="https://www.facebook.com/StudentRobotics">
          <img src="/images/template/facebook25x25.png" alt="Facebook" title="SR Facebook page">
        </a>
        <a class="twitter" href="https://twitter.com/StudentRobotics">
          <img src="/images/template/twitter25x25.png" alt="Twitter" title="SR Twitter feed">
        </a>
        <a class="youtube" href="https://www.youtube.com/user/StudentRobotics">
          <img src="/images/template/youtube25x59.png" alt="YouTube" title="SR YouTube account">
        </a>
        <span class="copyright">© Student Robotics 2011–{{ site.time | date: '%Y' }}</span>
      </div>
    </div>
  </body>
</html>

