<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} | Student Robotics</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <div id="pageWrapper">
      <div id="header">
        <a href="/">
          <img src="/images/template/website_logo.png" alt="Student Robotics Logo">
        </a>
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>

