---
layout: main
extra_css:
  - news-article
itemtype: http://schema.org/NewsArticle
---
<a class="link-top" href="/news">Back to News</a>
<span class="pubdate">
  Published: <time datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{page.date | date: "%-d %B %Y"}}</time>
  <meta itemprop="copyrightYear" content="{{ page.date | date: "%Y" }}">
</span>
<h1 itemprop="headline">{{ page.title }}</h1>
{% include organization_meta.html itemprop="publisher" %}
<div itemprop="articleBody">
{{ content }}
</div>

<div class="clearboth">
  {% if page.previous.url %}
  <a class="link-bottom-left" rel="prev" href="{{ page.previous.url }}">Older: {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next.url %}
  <link rel="next" href="{{ page.next.url }}">
  {% endif %}
</div>

